
<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Are you good in footie, yes or no?">
  <input type="submit" value="Press it">
</form>
